{% load staticfiles %}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'/>
        <title>
            {% block title %}
                My Hello Web App Project
            {% endblock title%}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block header %}{% endblock header %}
    </head>
     <body>
        </div class='header-container'>
            <div class='header'>
                <div class='logo'>
                    <div class="cat">
                        <div class="ear ear--left"></div>
                        <div class="ear ear--right"></div>
                        <div class="face">
                            <div class="eye eye--left">
                                <div class="eye-pupil"></div>
                            </div>
                            <div class="eye eye--right">
                                <div class="eye-pupil"></div>
                            </div>
                            <div class="muzzle"></div>
                        </div>
                    </div>
                    <div class='title'><h1>Kitty Collector</h1></div>
                </div> 
                {% comment %} static/images/sample_cats/pop_tart_cat.jpg {% endcomment %}
            </div>
        </div> 
         <div class='menu-container'>
            <div class='menu'>
                <div class='home'><a href="{% url 'home' %}">Home</a></div>
                <div class='links'>
                    <div class='about'><a href="{% url 'about' %}">About</a></div>
                    <div class='contact'><a href="{% url 'contact' %}">Contact</a></div>
                    <div class='browse'><a href="{% url 'browse' %}">Browse</a></div>
                    <div class='login'>
                        <ul>
                            {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'auth_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'auth_login' %}">Login</a>
                            </li>
                            <li>
                                <a href="{% url 'registration_register' %}">Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}{%endblock content%}
        {% block footer %}{% endblock footer%}
    </body>
</html>

